{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="header_left">
                    <div class="top_block">
                        <div style="border-color: #b03eb4" class="event-img birthday"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-sm-offset-left">
                <div class="header_right ">
                    <div class="text-center">
                        <h2 class="event_name" style="font-family: Arial; color: #000000;">Verjaardag van Frits</h2>
                        <p class="date" style="font-family: Arial; color: #000000;">16 januari 2016</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="step1">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.name) }}
                    <div class="form-group">
                        {{ form_widget(form.yes) }}
                        {{ form_widget(form.no) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
          integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <style>
        body {
            background: url("/images/green-bg.jpg") no-repeat scroll center top / cover;
        }

        .header_left {
            box-shadow: 0 0 12px 0 #323232;
            margin-bottom: 92px;
            margin-top: 32px;
            background-color: white;
        }

        .header_right {
            box-shadow: 0 0 12px 0 #323232;
            height: 206px;
            margin: 75px 0;
            padding: 50px 0;
            background-color: white;
        }

        .event-img {
            width: 100%;
            height: 296px;
        }

        .step1 {
            box-shadow: 0 0 12px 0 #323232;
            padding: 45px;
            background-color: white;
        }

        .event-img.birthday {
            background: url("/images/icon_birthday.svg") center center no-repeat;
            background-size: 30%;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
            integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
            crossorigin="anonymous"></script>
{% endblock %}
